---
title:內容保護設置
description:Zencoder 作業的內容保護設置。
parent: Home 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
	<section>
		<h2 id="Topics_in_this_section">主題在{{ page.title }}</h2>
		<ul style="margin-left: -2.2rem;list-style: none;">
		{% for item in site.data.navigation %} {% if item.name == 'Encoding Settings' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
							<li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
						{% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
</section>
</article>