---
title:錯誤/故障排除
description:出現問題時提供幫助。
parent: Home 
---

<style>
.bcls 卡{ justify-content: start; } .bcls 卡 h1 { font-size: 1rem; } .bcls-card ul { margin-left: -2rem; }
</style>

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">本節中的主題</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
                <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
                  <ul>
                    {% for subentry in entry.docs %}
                      <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </li>
              {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>